body{
    background-color: white;
}

.card{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

.container{
    display: flex;
    flex-wrap: wrap;
}

img{
    width:100px;
}


